package kz.aitu.dz;

public class MyClass {
    private int fieldValue;

    public MyClass() {
        throw new UnsupportedOperationException("Use setters to initialize instance variables.");
    }

    public int getFieldValue() {
        System.out.println("Getter for fieldValue was called");
        return fieldValue;
    }

    public void setFieldValue(int fieldValue) {
        System.out.println("Setter for fieldValue was called");
        this.fieldValue = fieldValue;
    }

    public static class Main {
        public static void main(String[] args) {
            MyClass myObject = new MyClass();
            myObject.setFieldValue(42);

            int value = myObject.getFieldValue();
            System.out.println("Value retrieved using getter: " + value);

            Cat cat1 = new Cat();
            cat1.setName("Marina");
            cat1.setAge(2);
            System.out.println(cat1.getName());
            System.out.println(cat1.getAge());

            // Добавлен вызов метода speak()
            cat1.speak();
        }
    }
}

class Cat {
    private String name;
    private int age;

    public void setName(String userName) {
        if (userName.isEmpty()) {
            System.out.println("No Name");
        } else {
            name = userName;
        }
    }

    public String getName() {
        return name;
    }

    public void setAge(int userAge) {
        if (userAge < 0) {
            System.out.println("Uncorrect");
        } else {
            age = userAge;
        }
    }

    public int getAge() {
        return age;
    }



    void speak() {
        for (int i = 0; i < 3; i++) {
            System.out.println("Мяу, меня зовут " + name + ", мне " + age + " года");
        }
    }
}
